<!DOCTYPE html>
<html>
<head>

  <html>
<center>
<head>
	<title>MovieRecs</title>
</head>
<body>
    <h1 style="color:#38D8BE; font-family: Trebuchet MS;"> MovieRecs </h1>
    <div>
      <p style="color::#38D8BE; font-family: Trebuchet MS;"> Grab some popcorn! <br> You're about to watch a movie you're actually in the mood for! </p>
    </div>
    <div>

        <p style="color::#38D8BE; font-family: Trebuchet MS;"> <br><br><br>Please use the below form to input what you think you'd want to watch. <br>This can be a title, an actor, a genre, a mood, you name it! <br><br><br><br><br> The more detailed you are, the better the recommendations will be. <br><br> Some examples include: </p>
          <p style="color::#38D8BE; font-family: Trebuchet MS;"> * I want to watch a scary horror movie
          <br> * Scorsese
          <br> * College or High School Comedy
          <br> * I'm in the mood for a gut-wrenching dramatic movie
          <br> * I want to watch a movie with Jordan Peele in it
          <br> * International
          <br> * Meryl Streep Comedy<br> <br>
        Input what you're in the mood for here:</p>
	  <form action="/submit" method = "POST">
      <input type="text" id="text" name = 'text' size = "75">
      <input type="submit" value="Submit">
    </form>
	</form>
</body>
</center>
</html>
